@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
}

body {
  /* position: relative; */
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Rajdhani', sans-serif;


  background-image: linear-gradient(to bottom, 
  #252525 0%, 
  #313131 100%
  );

}

.attemptFull {
  background-image: linear-gradient(to bottom, 
  #252525 0%, 
  #313131 100%
  );
}

.player0BG {
  background-image: linear-gradient(to bottom right, #37c015, #84ec6a);
}

.player1BG {
  background-image: linear-gradient(to bottom right, #f15e8b, #ff8cae);
}



