@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
}

body {
  /* position: relative; */
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Rajdhani', sans-serif;


  background-image: linear-gradient(to bottom, 
  #252525 0%, 
  #313131 100%
  );

}

.result--container, .player--container{
  
  background-repeat: no-repeat;
  background-size: cover;
}

.result--container { 
  background-image: url('../img/bg-texture.png');
}

.player--container { 
  background-image: url('../img/bg-player-texture.png');
}



